<b> 💉 AstraZeneca 💉</b>
<b>Вакцінацію можно зробити в наступних закладах</b>

🏥<b>Комунальне некомерційне підприємство
    "Сімейна поліклініка" Чернігівської міської ради</b>
<b>Телефони:</b>  (0462)94-17-20
м.ЧЕРНІГІВ, вулиця Пирогова, 15

🏥<b>поліклінічне відділення №3</b>
<b>Телефони:</b>  (0462)61-21-03
м.ЧЕРНІГІВ, проспект Миру, 44

🏥<b>Відділення по наданню
    первинної медичної допомоги населенню </b>
<b>Телефони:</b> (0462)64-46-62
м.ЧЕРНІГІВ, вулиця Красносільського, 73а

🏥<b>Відділення по наданню
    первинної медичної допомоги населенню</b>
<b>Телефони:</b>  050-527-24-96
м.ЧЕРНІГІВ, вулиця Гагаріна,6