<b> 💉 CoronaVac 💉 </b>
<b>Вакцінацію можно зробити в наступних закладах</b>

🎥<b>В обласному молодіжному центрі (колишній кінотеатр ім. Щорса)</b>
<b>Телефони:</b> +38-(0462)-77-72-19
м.ЧЕРНІГІВ,вулиця Магістратська,3

🏰<b>ТЦ «Голлівуд» </b>
<b>Телефони:</b> +38(063)29-12-096
м.ЧЕРНІГІВ,вулиця 77-ї Гвардійської Дивізії, 1В

🏬<b>Деснянська районна рада</b>
<b>Телефони:</b> +380-4622-39-14-1
м.ЧЕРНІГІВ,просп. Перемоги, 141

🏥<b>Комунальне некомерційне підприємство
    "Сімейна поліклініка" Чернігівської міської ради</b>
<b>Телефони:</b>  (0462)94-17-20
м.ЧЕРНІГІВ, вулиця Пирогова, 15

🏥<b>поліклінічне відділення №3</b>
<b>Телефони:</b>  (0462)61-21-03
м.ЧЕРНІГІВ, проспект Миру, 44

🏥<b>Відділення по наданню
    первинної медичної допомоги населенню </b>
<b>Телефони:</b> (0462)64-46-62
м.ЧЕРНІГІВ, вулиця Красносільського, 73а

🏥<b>Відділення по наданню
    первинної медичної допомоги населенню</b>
<b>Телефони:</b>  050-527-24-96
м.ЧЕРНІГІВ, вулиця Гагаріна,6