<b>Часто спостерігаються симптоми:</b>
🔸підвищення температури;
🔸кашель;
🔸стомлюваність;
🔸втрата нюху та смакових відчуттів.

<b>У деяких інфікованих можуть також спостерігатися:</b>
🔹біль в горлі;
🔹головний біль;
🔹різні інші болючі відчуття;
🔹діарея;
🔹висипання на шкірі або зміна кольору шкіри на пальцях рук або ніг;
🔹почервоніння чи подразнення очей.

<b>Симптоми тяжкої форми захворювання:</b>
🔸утруднене дихання чи задишка;
🔸порушення мови чи рухових функцій чи сплутаність свідомості;
🔸біль у грудній клітці.